<div class="row">
  <div class="breadcrumbs">
    <div class="col-sm-4">
      <div class="page-header float-left">
        <div class="page-title">
          <% if can? :create, Subject %>
            <h1><%=link_to t(".new_subject"), new_admin_subject_path, class: "btn btn-outline-success" %></h1>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="page-header float-right">
        <div class="page-title">
          <ol class="breadcrumb text-right">
            <li><a href="#"></a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content mt-3">
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <strong class="card-title"><%= t ".subject_list" %></strong>
            </div>
            <div class="card-body">
              <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th><%= t "number" %></th>
                    <th><%= t ".subject_name" %></th>
                    <th><%= t ".description" %></th>
                    <th><%= t ".created_at" %></th>
                    <th><%= t ".actions" %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @subjects.each_with_index do |subject, index| %>
                    <tr>
                      <td><%= index+1 %></td>
                      <td><%= subject.name_subject %></td>
                      <td><%= subject.description %></td>
                      <td><%= subject.created_at %></td>
                      <td>
                        <div class="col-3">
                          <%= link_to  admin_subject_path(subject), class: "btn btn-outline-primary btn-border-radius" do %>
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                          <% end %>
                        </div>
                        <div class="col-3">
                          <%= link_to  edit_admin_subject_path(subject), class: "btn btn-outline-info btn-border-radius" do %>
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          <% end %>
                        </div>
                        <div class="col-3">
                          <%= link_to admin_subject_path(subject), method: :delete, data: {confirm: t(".you_sure")}, class: "btn btn-outline-danger btn-border-radius" do %>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @subjects, theme: "twitter-bootstrap-4" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
