<!DOCTYPE html>
<html>

<head>
  <% provide :title,  t("devise.passwords.forgot_your_password") %>
</head>

<body>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3><%= t("devise.passwords.forgot_your_password") %></h3>
          <div class="d-flex justify-content-end social_icon">
            <span><i class="fa fa-facebook-square"></i></span>
            <span><i class="fa fa-google-plus-square"></i></span>
            <span><i class="fa fa-twitter-square"></i></span>
          </div>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <%= f.label :email, :class => "input-group-text" do %>
                <i class="fa fa-user"></i>
                <% end %>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email",
                                  class: "form-control", placeholder: "Email" %>
            </div>
            <div class="form-group">
              <%= f.submit t("devise.passwords.send_me_reset_password") %>
            </div>
          <% end %>
        </div>
        <div class="card-footer">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
