<!DOCTYPE html>
<html>

<head>
  <% provide :title, t("Login") %>
</head>

<body>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3><%= t "static_pages.login.login" %></h3>
          <div class="d-flex justify-content-end social_icon">
            <%= link_to do %>
              <span><i class="fa fa-facebook-square"></i></span>
            <% end %>
            <%= link_to  user_google_oauth2_omniauth_authorize_path do %>
              <span><i class="fa fa-google-plus-square"></i></span>
            <% end %>
            <span><i class="fa fa-twitter-square"></i></span>
          </div>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <%= f.label :email, :class => "input-group-text" do %>
                  <i class="fa fa-user"></i>
                <% end %>
              </div>
              <%= f.email_field :email, autofocus: true, class: "form-control",
                                autocomplete: "email", placeholder: "Email" %>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <%= f.label :email, :class => "input-group-text" do %>
                  <i class="fa fa-key"></i>
                <% end %>
              </div>
              <%= f.password_field :password, autocomplete: "current-password",
                                    placeholder: t("sessions.new.password"), class: "form-control" %>
            </div>
            <%= render "devise/shared/show_flash"%>
            <div class="row align-items-center remember">
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.submit t("sessions.new.log_in"), class: "btn float-right login_btn" %>
            </div>
          <% end %>
        </div>
        <div class="card-footer">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
