<p><%= t("Welcome") %> <%= @email %>!</p>
<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t("devise.mailer.contacting_you_to_notify") %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t("devise.mailer.contacting_you_to_notify") %> <%= @resource.email %>.</p>
<% end %>
