<p><%= t("Welcome") %> <%= @resource.email %>!</p>
<p><%= t "devise.mailer.requested_a_link_to_change_your_password" %></p>
<p><%= link_to t("devise.mailer.change_my_password"), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t("devise.mailer.ignore_this_email") %></p>
<p><%= t("devise.mailer.password_will_not_change_until") %></p>
