<div class="container py-3">
  <div class="row">
    <div class="mx-auto col-sm-6">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0"><%= t ".user_information" %></h4>
        </div>
        <div class="card-body">
          <%= form_for  @user, url: admin_user_path, html: {class: "form"}, method: :patch, local: true do |f| %>
            <%= render "shared/show_flash" %>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Email</label>
              <div class="col-lg-9">
                <h4><%= @user.email %></h4>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :fullname, t(".full_name"), class: "col-lg-3 col-form-label form-control-label"  %>
              <div class="col-lg-9">
                <%= f.text_field :fullname, class: "form-control", placeholder: t(".placeholder_fullnames") %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :address, t(".address"), class: "col-lg-3 col-form-label form-control-label" %>
              <div class="col-lg-9">
                  <%= f.text_field :address, class: "form-control", placeholder: t(".placeholder_paddress") %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :numberphone, t(".number_phone"), class: "col-lg-3 col-form-label form-control-label" %>
              <div class="col-lg-9">
                  <%= f.text_field :numberphone, class: "form-control", placeholder: t(".placeholder_numberphone") %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :birth, t(".birth"), class: "col-lg-3 col-form-label form-control-label" %>
              <div class="col-lg-9">
                <%= f.date_field :birth, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :gender, t(".gender"), class: "col-lg-3 col-form-label form-control-label" %>
              <div class="col-lg-9">
                  <%= f.select :gender, options_for_select(list_gender,
                    selected: @user.gender),
                    { }, { class: "form-control" } %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-9">
                <%= link_to t("cancel"), admin_users_path, class: "btn btn-secondary" %>
                <%= f.button t("save"), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
