<% provide :title, t(".show_video") %>
<div class="container py-3" >
  <div class="row">
    <div class="mx-auto col-sm-6">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0"><%= t ".show_video" %></h4>
        </div>
        <div class="card-body">
          <%= form_for @video, url: "#" do |f| %>
            <div class="form-group row">
              <%= f.label :name_video, t(".name_video"), class: "col-lg-3 col-form-label form-control-label"  %>
              <div class="col-lg-9 padding-top-10">
                <h4><%= @video.name_video %></h4>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :link, t(".video"), class: "col-lg-3 col-form-label form-control-label"  %>
              <div class="col-lg-9 padding-top-10">
                <h4><%= @video.link.html_safe %></h4>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :user_id, t(".creator"), class: "col-lg-3 col-form-label form-control-label"  %>
              <div class="col-lg-9 padding-top-10">
                <h4><%= @video.user.email %></h4>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :lesson_number, t(".lesson_number"), class: "col-lg-3 col-form-label form-control-label" %>
              <div class="col-lg-9 padding-top-10">
                <h4><%= @video.lesson_number %></h4>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :description, t(".description"), class: "col-lg-3 col-form-label form-control-label" %>
              <div class="col-lg-9 padding-top-10">
                <h4 ><%= @video.description %></h4>
              </div>
            </div>
            <div class="form-group row">
                <%= f.label :subject, t(".subject"), class: "col-lg-3 col-form-label form-control-label" %>
                <div class="col-lg-9">
                  <%= @video.subject.name_subject %>
                </div>
              </div>
            <div class="form-group row">
              <%= f.label :created_at, t(".created_at"), class: "col-lg-3 col-form-label form-control-label" %>
              <div class="col-lg-9 padding-top-10">
                <h4><%= @video.created_at %></h4>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :updated_at, t(".updated_at"), class: "col-lg-3 col-form-label form-control-label" %>
              <div class="col-lg-9 padding-top-10">
                <h4><%= @video.updated_at %></h4>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-9">
                <%= link_to t("back"), admin_videos_path, class: "btn btn-secondary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
