<%= form_for @course, url: yield(:path_form), html: {class: "form"}, method: yield(:method_form), local: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group row">
    <%= f.label :course_name, t(".course_name"), class: "col-lg-3 col-form-label form-control-label"  %>
    <div class="col-lg-9">
      <%= f.text_field :course_name, class: "form-control", placeholder: t(".placeholder_course_name") %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :start_time, t(".start_time"), class: "col-lg-3 col-form-label form-control-label"  %>
    <div class="col-lg-9">
      <%= f.date_field :start_time, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :description, t(".description"), class: "col-lg-3 col-form-label form-control-label"  %>
    <div class="col-lg-9">
      <%= f.text_field :description, class: "form-control", placeholder: t(".placeholder_description") %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :price, t(".price"), class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :price, class: "form-control", placeholder: t(".placeholder_price"),
       id: "formattedNumberField" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :subject, t(".subject"), class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
      <% if @course.id != nil %>
        <%= f.select :subject_id, options_for_select(@list_subjects,
          selected: @course.subject.id),
          { }, { class: "form-control" } %>
      <% else %>
        <%= f.select :subject_id, options_for_select(@list_subjects),
          { }, { class: "form-control" } %>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label"></label>
    <div class="col-lg-9">
      <%= link_to t("cancel"), admin_courses_path, class: "btn btn-secondary" %>
      <%= f.button yield(:button_text), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
