<div class="navbar-header">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
    aria-controls="main-menu"
    aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>
  <%= link_to "", class: "navbar-brand" do %>
    <%= image_tag "elearn-logo-sm.png", alt: "Logo" %>
  <% end %>
  <%= link_to "", class: "navbar-brand hidden" do %>
    <%= image_tag "image.png", alt: "Logo" %>
  <% end %>
</div>

<div id="main-menu" class="main-menu collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li class="active">
      <%= link_to @path_home do %>
        <%= t "home" %>
        <i class="menu-icon fa fa-dashboard"></i>
      <% end %>
    </li>
    <h3 class="menu-title">
      <%= t "layout.panner.Class_Classification" %>
    </h3>

     <!-- Loa list permission -->
     <% if check_admin %>
      <% @permissions.each do |permission| %>
      <li class="menu-item-has-children">
        <%= link_to permission.path do %>
          <% if !permission.icon.nil? %>
            <%= permission.icon.html_safe %>
          <% end %>
          <span class="margin-left-1em">
            <%= permission.name_permission %>
          </span>
        <% end %>
      </li>
      <% end %>
     <% end %>

    <h3 class="menu-title"><%= t "layout.panner.Class" %></h3>

    <% if check_student %>
      <% @permissions_user.each do |permission_user| %>
      <li class="menu-item-has-children">
        <%= link_to permission_user.path do %>
          <% if !permission_user.icon.nil? %>
            <%= permission_user.icon.html_safe %>
          <% end %>
          <span class="margin-left-1em">
            <%= permission_user.name_permission %>
          </span>
        <% end %>
      </li>
      <% end %>
    <% end %>

    <h3 class="menu-title"><%= t "layout.panner.Other" %></h3>
    <li class="menu-item-has-children">
      <%= link_to do %>
        <%= t "layout.panner.create_cv" %>
        <i class="menu-icon fa fa-glass"></i>
      <% end %>
    </li>
    <li class="menu-item-has-children">
      <%= link_to do %>
        <%= t "layout.panner.level_test" %>
        <i class="menu-icon fa fa-glass"></i>
      <% end %>
    </li>
  </ul>
</div>
